a:link {
	color: blue;
	text-decoration: none;
} /* unvisited link */
a:visited {
	color: blue;
	text-decoration: none;
} /* visited link */
a:hover {
	text-decoration: underline;
} /* mouse over link */
a:active {
	text-decoration: underline;
} /* selected link */
body {
	background-color: #eeeeee;
	font-family: Verdana, Geneva, sans-serif;
}

footer {
	clear: both;
	color: gray;
	text-align: center;
	font-family: "Times New Roman";
	font-size: x-small;
}

#mainBackground {
	border-radius: 15px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: #00CCFA;
	border-style: solid;
	width: 1000px;
	height:  600px;
}

#blanket {
	position: absolute;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
}



#popUpPick {
	border-radius: 15px;
	position: absolute;
	background-color: #eeeeee;
	border-style: solid;
	width: 300px;
	height: 300px;
	z-index: 9002;
}

.button {
	border: 1px solid #006;
	background: #9cf;
}

#popUpEdit {
	border-radius: 15px;
	position: absolute;
	background-color: #eeeeee;
	border-style: solid;
	width: 300px;
	height: 300px;
	z-index: 9002;
}

#popUpDelete {
	border-radius: 15px;
	position: absolute;
	background-color: #eeeeee;
	border-style: solid;
	width: 300px;
	height: 300px;
	z-index: 9002;
}

#popUpSearch {
	border-radius: 15px;
	position: absolute;
	background-color: #eeeeee;
	border-style: solid;
	width: 300px;
	height: 300px;
	z-index: 9002;
}

#popUpDiv {
	border-radius: 15px;
	position: absolute;
	background-color: #eeeeee;
	border-style: solid;
	width: 300px;
	height: 300px;
	z-index: 9002;
}

#popUpProfile {
	position: absolute;
	background-color: green;
	border-style: solid;
	width: 300px;
	height: 300px;
	z-index: 9002;
}

#my_wrapper {
	width: 100%;
	height: auto;
	
}

#boxOfTags {
	width: auto;
	height: 100px;
	background-color: red;
	
	overflow: scroll;
	overflow-x: hidden;
	
}

#simple_wrapper
{
	width: auto;
	height: auto;
	
	
}

#generic_wrapper
{
	
	height: 485px;
	overflow: auto;
}

#edit_wrapper
{
	
	height: 435px;
	overflow: auto;
}


#select_wrapper
{
	
	height: 430px;
	overflow: auto;
}

#mainsiteMain {
	border: medium;
	float: left;
	height: 50%;
	margin-left: 5%;
	margin-top: 5%;
	overflow: auto;
}

#logoutAlign {
	clear: both;
	bottom: 0;
	right: 0;
}

#mainsiteTop {
	font-family: sans-serif;
	text-align: left;
	width: 100%;
	height: 100px;
}

#profileSite {
	border-style: solid;
	margin-top: 2%;
	float: left;
	width: 50%;
	height: 50%;
	overflow: auto;
}

#profileSite2 {
	margin-left: 5%;
	float: none;
	width: 50%;
	height: 50%;
	overflow: auto;
}

#profileSite3 {
	border-radius: 15px;
	border-style: solid;
	margin-top: 1%;
	margin-left: 1%;
	float: left;
	width: 50%;
	height: 50%;
	overflow: auto;
}

.rightalign {
	text-align: right;
}
}