body
{
	background-color: #eeeeee
}

footer
{
	clear: both;
	color:gray;
	text-align: center;
}

#mainBackground{
	border-radius: 15px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: #00CCFA;
	border-style: solid;
	width:  = 600px;
	height:  = 600px;
}
#blanket {
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popUpPick {
border-radius: 15px;
	position:absolute;
background-color:#eeeeee;
border-style:solid;
width:300px;
height:300px;

z-index: 9002;

}
#popUpDiv {
border-radius: 15px;
position:absolute;
background-color:#eeeeee;
border-style:solid;
width:300px;
height:300px;

z-index: 9002;

}
#popUpProfile {
position:absolute;
background-color:green;
border-style:solid;
width:300px;
height:300px;
z-index: 9002;

}

#my_wrapper{
    width: 100%;
}

#mainsiteMain
{
	border:medium;
	
	float: left;
    height: 50%;
	margin-left: 5%;
	margin-top:  5%;
	
	overflow: auto;
}

#logoutAlign
{
	clear: both;
	bottom: 0;
	right: 0;
}
#mainsiteTop
{
	

	font-family: sans-serif;
	text-align: left;
	width: 100%;
	height: 100px;
}
#profileSite
{
	border-style:solid;
	
	margin-top:  2%;
	float: left;
	width: 50%;
	height: 50%;
	overflow:auto;
	
}

#profileSite2
{	
	margin-left: 5%;
	float: none;
	width: 50%;
	height: 50%;
	overflow:auto;
	
}
#profileSite3
{	
	border-radius: 15px;
	border-style:solid;
	margin-top:  1%;
	margin-left: 1%;
	float: left;
	width: 50%;
	height: 50%;
	overflow:auto;
	
}
.rightalign
{
	text-align: right;
}

}