<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestDatabase1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestDatabase</display-name>
    <servlet-name>TestDatabase</servlet-name>
    <servlet-class>TestDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDatabase</servlet-name>
    <url-pattern>/TestDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main</display-name>
    <servlet-name>main</servlet-name>
    <servlet-class>main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>redirector</display-name>
    <servlet-name>redirector</servlet-name>
    <servlet-class>redirector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirector</servlet-name>
    <url-pattern>/redirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile</display-name>
    <servlet-name>editProfile</servlet-name>
    <servlet-class>editProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile2</display-name>
    <servlet-name>editProfile2</servlet-name>
    <servlet-class>editProfile2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile2</servlet-name>
    <url-pattern>/editProfile2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile3</display-name>
    <servlet-name>editProfile3</servlet-name>
    <servlet-class>editProfile3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile3</servlet-name>
    <url-pattern>/editProfile3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProfile</display-name>
    <servlet-name>SelectProfile</servlet-name>
    <servlet-class>SelectProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProfile</servlet-name>
    <url-pattern>/SelectProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProfile</display-name>
    <servlet-name>AddProfile</servlet-name>
    <servlet-class>AddProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfile</servlet-name>
    <url-pattern>/AddProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileNotLoggedin</display-name>
    <servlet-name>EditProfileNotLoggedin</servlet-name>
    <servlet-class>EditProfileNotLoggedin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileNotLoggedin</servlet-name>
    <url-pattern>/EditProfileNotLoggedin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProfileToEdit</display-name>
    <servlet-name>SelectProfileToEdit</servlet-name>
    <servlet-class>SelectProfileToEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProfileToEdit</servlet-name>
    <url-pattern>/SelectProfileToEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadImage</display-name>
    <servlet-name>uploadImage</servlet-name>
    <servlet-class>uploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadImage</servlet-name>
    <url-pattern>/uploadImage</url-pattern>
  </servlet-mapping>
</web-app>