<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestDatabase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestDatabase</display-name>
    <servlet-name>TestDatabase</servlet-name>
    <servlet-class>TestDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDatabase</servlet-name>
    <url-pattern>/TestDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main</display-name>
    <servlet-name>main</servlet-name>
    <servlet-class>main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>redirector</display-name>
    <servlet-name>redirector</servlet-name>
    <servlet-class>redirector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirector</servlet-name>
    <url-pattern>/redirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfile</display-name>
    <servlet-name>editProfile</servlet-name>
    <servlet-class>editProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfile</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
</web-app>